@import url("reset.css");
@import url("fonts.css");

body {
	font-family: "Lato", sans-serif;
	line-height: 1.25;
	color: #2f302c;
	font-weight: 500;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1422px;
	padding: 0 15px;
	margin: 0 auto;
}

.register-form {
	padding: 82px 0;
}

.register-form__title {
	font-weight: 800;
	font-size: 32px;
	line-height: 125%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 36px;
}

.register-form__subtitle {
	font-weight: 700;
	line-height: 1.25;
	text-align: center;
	color: #7e7f7c;
	text-transform: uppercase;
	margin-bottom: 182px;
}

.register-form__inner {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.register-form__form {
	flex: 0 1 712px;
}

.register-form__content {
	flex: 0 1 600px;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 36px;
}

.form__title {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	row-gap: 36px;
}


.form__text p {
	line-height: 1.25;
	color: #7e7f7c;
	margin-bottom: 36px;
}

.form__text p a {
	font-weight: 700;
	color: #2f302c;
}

.form__body {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	margin-bottom: 36px;
}

.form__input {
	height: 44px;
	border-bottom: 1px solid #d4d4d4;
	flex: 0 1 336px;

}

.form__input.form__input--phone {
	flex: 1 1 100%;
}

.form__btn {
	background-color: #2f302c;
	color: #fff;
	max-width: 336px;
	padding: 12px 20px;
	transition: all 0.3s;
}

.form__btn:hover {
	background-color: #abaaaa;
	color: #000;
}

.promo-content {
	position: relative;
	padding: 60px 80px;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.promo-content__img {
	left: 0;
	top: 0;
	object-fit: cover;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}

.promo-content__box {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.promo-content__hot {
	padding: 4px 8px;
	color: #fff;
	border-radius: 4px;
	background-color: #ce0000;
	text-transform: uppercase;
	font-weight: 700;
	align-self: flex-start;
}

.promo-content__title {
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
}

/* Практика */
.exercise {
	padding: 100px 0;
	background-color: rgba(198, 225, 198, 0.637);
}

.exercise__title {
	font-size: 76px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
}

.insurance {
	display: flex;
	column-gap: 40px;
	justify-content: space-evenly;
	font-size: 18px;
}

.insurance__calculator,
.insurance__form {
	display: flex;
	flex-direction: column;
	flex: 0 1 550px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}

.calculator-kasko__title,
.order-form__title {
	font-size: 32px;
	margin-bottom: 15px;
}

.calculator-kasko__label,
.order-form__label {
	font-size: 24px;
}

.calculator-kasko__label,
.order-form__label:not(:last-child) {
	margin-bottom: 15px;
}


.calculator-kasko__title-label {
	font-size: 28px;
}

.calculator-kasko__franshiza {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-self: flex-start;
}

.calculator-kasko__label select {
	font-size: 28px;
}

.calculator-kasko__btn,
.order-form__btn {
	background-color: rgba(197, 240, 197, 0.637);
	height: 40px;
	max-width: 300px;
	padding: 10px 20px;
	display: inline-block;
	margin: 0 auto;
	font-size: 18px;
	transition: background-color 0.3s;
}

.calculator-kasko__btn:hover,
.order-form__btn:hover {
	background-color: rgba(134, 236, 134, 0.637);
}

.order-form__input,
.calculator-kasko__input {
	background-color: rgba(215, 213, 213, 0.469);
	border: 1px solid #000;
}

.order-form__text {
	background-color: rgba(215, 213, 213, 0.469);
	border: 1px solid #000;
	resize: none;
	height: 140px;
}